{{#partial "content"}}
    <h1>Heroes</h1><br><br>
    <div class="row">
        <div class="col-md-6">
            {{#if heroes}}
                {{#each heroes }}
                    <h3>{{name}} </h3>
                    <a href="/heroes/{{id}}"><button class="btn btn-info btn-md">Details</button></a><br><br><hr>
                {{/each}}
            {{else}}
                <p>No Heroes Available!</p>
            {{/if}}
        </div>
        <div class="col-md-6">
            {{#if hero}}
                <div class="card  text-dark">

                    <div class="card-body">
                        <h4 class="card-title">{{hero.name}}</h4>
                        <hr>
                        <p class="card-text">Age : {{hero.age}}</p><br>
                        <p class="card-text">Special Powers : {{hero.powers}}</p><br>
                        <p class="card-text">Weakness: {{hero.weakness}}</p><br>
                        <p class="card-text">Not Available : {{hero.available}}</p><br>
                        <a href="/hero/{{hero.id}}/delete"><button class="btn btn-danger">Delete Hero</button></a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{#partial "footer"}}
    {{#if heroes}}
        <a href="/heroes/delete"><button class="btn btn-lg btn-danger"> Delete All Heroes</button></a>
    {{else}}
    {{/if}}
{{/partial}}
{{> layout.hbs}}